body {
  background-color: #f0f0f0;
  font-family: "Playfair Display", serif; 
  font-size:20px;
}
header {
  background-color: #5DABC9;
  color: white;
  text-align:center;
  padding: 20px;
}

nav {
  background-color: #183C4D;
  overflow: hidden;
  height:40px;
  padding-top:20px;
  font-size:17px;
}

nav a {
  float:center;
  display: center;
  color: white;
  text-align: center;
  padding: 130px;
}

main {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #183C4D;
  color: white;
}